.body {
  font-size: 14px;
}

.nav {
  background-color: yellow;
  height: 100px;
  width: 100%;
  margin-top: -10px;
  position: fixed;
}

.section {
  margin: 0 auto;
  width: 60%;
}

.h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.h3 {
  font-size: 1.3em;
}
/* I group h1 and h3 together */

.example, h3 {
  padding-top: 30px;
  text-align: center
}

.element {
  background-color: green;
  height: 100px;
  width: 100%;
  margin: 10px 0;
}
/* I put height and width together so it will be easy to see */

.item {
  background-color: #444444;
}
/* I added the div to specify that I want those items to be gray. */
